.main-content-container {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #012F34;
    // width: 100vw;

    max-width: 1440px;
    height: 684px;

    .main-rectangle {
        position: relative;
        width: 50px;
        height: 4px;
        top: 25%;
        left: 12.5%;
        background-color: #F67E7E;
    }

    .main-content {
        justify-content: center;
        align-items: center;
        margin-left: 165px;
        margin-right: 165px;


        .main-headline {
            font-size: 3em;
            line-height: 1em;
            margin-inline-end: 150px;
        }

        .advantages-container {
            margin-top: 200px;

            .advantage {
                align-items: center;

                .advantage-img {
                    width: 70px;
                    height: 70px;
                    margin-inline-end: 15px;
                }

                .advantage-headline {
                    font-size: 1.125em;
                    font-family: livvic-bold;
                    color: #F67E7E;
                    margin-bottom: 0;
                }

                .advantage-main {
                    margin-top: 0;
                    font-size: 0.9375em;
                    font-family: livvic;
                }
            }
        }

    }

    .pattern-main-img {
        position: absolute;
        width: 200px;
        height: 225px;
        bottom: 0;
        right: -100px;
    }
}