.reviews-container{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #004047;

    max-width: 1440px;
    height: 745px;
    text-align: center;

    .pattern-4{
        width: 150px;
    }
}